body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #eff5ff;
}
.header {
    width: 100%;
    height: 150px;
    background-color: #384e72;
    border-bottom: 1px solid black;
}
.header .logo {
    height: 150px;
    width: auto;
    opacity: 1;
}
.userLog {
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}
.userLog label {
    color: #e0e0e0;
    font-family: 'Quicksand', sans-serif;
}
.userLog .passBox, .userBox {
    color: #e0e0e0;
    border: none;
    border-bottom: 1px solid #eff5ff;
    background-color: #384e72;
}
body,
html {
    margin: 0;
    padding: 0;
    border: 0;
}
#reg {
    float: right;
    font-family: 'Quicksand', sans-serif;
    color: #db8e36;
    background: none;
    border: none;
    cursor: pointer;
}
.modal-body input {
    width: 100%;
}
#addPic {
    margin-top: 50px;
    background-color: #592a4e;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#addPicBtn {
    width: 40%;
    float: right;
    display: block;
}
#rightMenu {
    margin-top: -13.1%;
    width: 300px;
}
#openSideBar {
    position:relative;
    display: none;
    margin-top: -80px;
}
#closeProfile {
    position: absolute;
    bottom: 0;
}
.imgDisplay1, .imgDisplay2 {
    display: inline;
}
.imgDisplay1 img {
    height: 650px;
    margin-top: 2%;
    margin-left: 7%;
}
.imgDisplay2 img {
    height: 320px;
    margin-left: 2%;
    margin-top: -15%;
}
#gallery{
    display: block;
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: -1;
}
#noLog h3{
    text-align: center;
}
#galleryMain{
    display: inline-block;
    margin-top: 50px;
    margin-left: 2%;
    width: 30%;
    height: 450px;
}
#userInput{
    display: none;
}
#avatarInput {
    display: none;
}
#avatar {
    margin-left: 25px;
    width: 250px;
}
